[submodule "use-package"]
	path = lisp/site/use-package
	url = https://github.com/jwiegley/use-package.git
	branch = master
[submodule "emacs-dashboard"]
	path = lisp/site/emacs-dashboard
	url = https://github.com/emacs-dashboard/emacs-dashboard.git
	branch = master
[submodule "page-break-lines"]
	path = lisp/site/page-break-lines
	url = https://github.com/purcell/page-break-lines.git
	branch = master
[submodule "org-mode"]
	path = lisp/site/org-mode
	url = https://git.savannah.gnu.org/git/emacs/org-mode.git
	branch = main
[submodule "emacs-libvterm"]
	path = lisp/site/emacs-libvterm
	url = https://github.com/akermu/emacs-libvterm.git
	branch = master
[submodule "flycheck"]
	path = lisp/site/flycheck
	url = https://github.com/flycheck/flycheck.git
	branch = master
[submodule "all-the-icons"]
	path = lisp/site/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el.git
	branch = master
[submodule "rustic"]
	path = lisp/site/rustic
	url = https://github.com/brotzeit/rustic.git
	branch = master
[submodule "rust-mode"]
	path = lisp/site/rust-mode
	url = https://github.com/rust-lang/rust-mode.git
	branch = master
[submodule "magit"]
	path = lisp/site/magit
	url = https://github.com/magit/magit.git
	branch = master
[submodule "projectile"]
	path = lisp/site/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "yasnippet"]
	path = lisp/site/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
